body{
	margin: 0 18%;
	
}
.header__container_wrapper{
	margin: 5%;
	font-size: 28px;
	text-align: center;
	font-family: 'Noto Sans HK', sans-serif;
}
.buttons__container_wrapper{
	display: flex;
	justify-content: center;
	margin-left: 4%;
	
	text-align: center;
}
.buttons__container_wrapper_button{
	border-color:orange;
	font-size: 18px;
	margin-bottom: 0;
	border-radius: 50%;
	line-height: 30px;
	cursor: pointer;
}
.buttons__container_wrapper_div{
	display: flex;
	flex-direction: column;
}
hr{
	display: inline-block;
	width: 150px;
	border:1px dashed;
	color:grey;
}
.label__container_wrapper_text{
	font-size: 12px;
	margin-top: 3%;
}
.footer__container_wrapper_buttons{
	font-size: 18px;
	padding: 1%;
	background-color: orange;
	border-radius: 20%;
	cursor: pointer;
}
#button-previous{
	float:left;
	color: white;
	margin-bottom: 5%;
}
#button-next{
	float:right;
	color: white;
}
#button-submit{
	float: right;
	background-color: #00a900;
	color: white;
}
.body__container_wrapper{
	margin: 5%;
	text-align: center;
}
input[type="text"]{
	width: 150px;
	/*float: right;*/
}
input[type="number"]{
	width: 150px;
	/*float: right;*/
}
input[type="email"]{
	width: 150px;

}
.input_field{
	font-style: italic;

}
.body__container_wrapper_page_heading{
	margin-top: 10%;
}
#button-home{
	width: 200px;
	height:50px;
	font-size: 15px;
	background-color: orange;
	color: white;
	cursor: pointer;
	margin: 5%;
}