
.dropdown {
	font-size: 14px;
	margin-bottom: 0;
	margin: 2% 0;
	/*margin-bottom: 4%;*/
}
.page2__form_link {
	color: blue;
	font-size: 15px;
	position: absolute;
	cursor: pointer;
	border:0;
	background-color: white;
}
.page2__form_link:hover{
	text-decoration: underline;
}
.page2__input_field_label{
	width: 250px;
	text-align: right;
	/*margin: 1% 0;*/
	font-size: 18px;
}
.page2__input_field_text{
	width: 400px;
	text-align: left;
	margin: 1% 4%;
	font-size: 18px;
}
.page2__link_container{
	display: flex;
	flex-direction: row reverse;
}
.page2__link_container a{
	width: 50%;
	margin-left: 3%;
	text-align: center;
}
.page2__form_error_alert{
	display: none;
	color: red;
	font-style: italic;
	margin-bottom:1%;
}