input{
	/*margin: 1%;*/
	height: 15px;
}
#graduation{
	width:160px;
	height: 25px;
}
.input_field{
	display: flex;
	justify-content: center;
}
.page1__input_field_text{
	width: 400px;
	text-align: left;
	margin: 0 4%;
	font-size: 18px;
}
.page1__input_field_label{
	width: 250px;
	text-align: right;
	/*margin: 1% 0;*/
	font-size: 18px;
}
.page1__form_error_alert{
	display: none;
}