input{
	margin: 1%;
}

#graduation{
	max-height: 200px;
}
.page1__form, #page1-name, #page1-email, #page1-major{
	margin-left: 5%;
}
#radio{
	margin-left: 10%
}
#radio-uni{
	margin-left: 2%;
}
#select-graduation {
	margin-left: -40px;
}
#radio-2, #radio-tax, #page1-mobile{
	margin-left: 4%;
}
#graduation{
	width: 150px;
}